{
	"arrowParens": "always",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"bracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 220,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"]
}
